<div class="card">
    
      <div class="header">
        <h2 class="title">Movies</h2>
      </div>
      <div class="content">
    
        <form #f="ngForm">

          <div class="form-group">
            <label>Movie Name:</label>
            <input [(ngModel)]="filter.movieName" name="movieName" class="form-control">
          </div>

          <div class="form-group">
            <button (click)="search()" [disabled]="!f?.valid" class="btn btn-default">
              Search
            </button>
            <a [routerLink]="['../movies','new']" class="btn btn-default">
                New
            </a>
  
          </div>
          
        </form>
    
      </div>
    </div>
    
    <div class="card" *ngIf="moviesList.length > 0">
    
      <table class="table table-contensed" >
        <thead>
        <tr>            
            <th>Movie Name</th>            
            <th>Movie Name</th>            
            <th>Movie Url</th>            
            <th>Publish Date</th>            
            <th>Thumbnail Url</th>            
            <th>Movie Category</th>            
            <th>Full Image</th>            
            <th>duration</th>
        </tr>
        </thead>
        <tr *ngFor="let item of moviesList" [class.active]="item === selectedMovies">
            <td>{{item.id}}</td>
            <td>{{item.movieName}}</td>
            <td>{{item.movieUrl}}</td>
            <td>{{item.publishedDate}}</td>
            <td>{{item.thumbnail}}</td>
            <td>{{item.movieCategory}}</td>
            <td>{{item.fullImage}}</td>
            <td>{{item.duration}}</td>
            <td>
                
                <a [routerLink]="['../movies', item.id ]">Details</a> |           
                <a (click)="select(item)">Select</a>
            </td>
        </tr>
      </table>
    
    </div>
