<div class="card">
    <div class="header">
        <h1 class="title">Mobile Categories Detail</h1>
    </div>
    <div class="content">
    
        <p *ngIf="errors">{{ errors }}</p>
    
        <form *ngIf="categories">
                
            <div class="form-group">
                <label>id:</label>
                {{categories.id || 'n/a'}} <input [(ngModel)]="categories.id" name="id" class="form-control">
            </div>
                
            <div class="form-group">
                <label>Category Name:</label>
                <input [(ngModel)]="categories.categoryName" name="categoryName" class="form-control">
            </div>
                
            <div class="form-group">
                <label>Description:</label>
                <input [(ngModel)]="categories.descriptiom" name="descriptiom" class="form-control">
            </div>
        
            <div class="form-group">
                <button
                (click)="save()"
                class="btn btn-default">Save</button>
            </div>

        </form>
    
    </div>
</div>